.card-movie-grid{
    background-color: #303030;
    margin: 10px 0px;
    width: 216px;
    padding: 10px;
    border-radius: 5px;
}

.card-movie-row{
    background-color: #303030;
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.main-column{
    display: flex;
}

.div-column{
    margin-left: 8px;
}

.card-movie-grid img, .card-movie-row img{
    width: 216px;
    height: 325px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.delete{
    background-color: white;
    padding: 5px;
    color: #303030;
    border-radius: 100%;
    margin-right: 5px;
    cursor: pointer;
}

.see{
    background-color: white;
    padding: 5px;
    color: #303030;
    border-radius: 100%;
    margin-right: 5px;
    cursor: pointer;
}

.readMore{
    padding: 5px;
}

.block{
    display: block;
}

.inline{
    display: inline;
}