.Card-movie{
    background-color: #303030;
    margin: 10px 0px;
    width: 216px;
    padding: 10px;
    border-radius: 5px;
}

.Card-movie img{
    width: 216px;
    height: 325px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.delete{
    background-color: white;
    padding: 5px;
    color: #303030;
    border-radius: 100%;
    margin-right: 5px;
}

.see{
    background-color: white;
    padding: 5px;
    color: #303030;
    border-radius: 100%;
    margin-right: 5px;
}

