footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #202020;
    padding: 10px;
}

.footer-team{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 2px;
}

.tmdb-logo{
    width: 15%;
}

@media only screen and (max-width: 420px) {

    .footer{
        padding: 0;
        padding-bottom: 10px;
    }

    .tmdb-logo{
        width: 35%;
    }

    
    }