footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #202020;
    padding: 20px;
}

.footer-team{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.tmdb-logo{
    width: 35%;
}