nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 8px;
}

.wolf-logo{
    height: 70px;
}

.angle-icon{
    font-size: 30px;
    color: #F082AC;
    cursor: pointer;
}

.show{
    display: block;
}

.hide{
    display: none;
}

@media only screen and (max-width: 420px) {
    .wolf-logo{
        height: auto;
        width: 85%;
    }
}